
html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 100%;
  background-color: #eceff1;
  font-size: 16px;

}
a {
  color:#00A5CF;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin:0;
}
p{
  margin-top: 0;
    margin-bottom: 0;
}
#date-results > .mooches-title{
    color:#fff;
}
.mooches-title{
  color:white;
  font-size:1.8rem;
  padding:20px;
  text-align: center;
}
*, *:before, *:after {
  box-sizing: border-box;
}

.badgescard, .firstinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.politician-f-info {
  display: flex;
  align-items: center;
  z-index: 2;
    position: relative;
}
/* === header === */
.navbar-brand{
font-family: 'Titillium Web', sans-serif;
  margin-left: 2rem;
    margin-right: 2rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.80)!important;
}
.navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.bg-light{
  background-color: #0a3356!important;
  /* background-color:#f5f5f5!important; */

}
.navbar-light .navbar-nav .nav-link{
color: rgba(255, 255, 255, 0.66)!important;

}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1)!important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
color: rgba(255, 255, 255, 1)!important;
}
/* === jumbotron === */
.shade{
background: #0f3b61;
}
.image{
  box-shadow: inset 0 0 0 1000px rgba(15,59,97,.9);
  background-image: url(../img/whiteHouse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
/*#104068*/
/*F7F7FF
//00A5CF
//F25F5C
//0CCE6B*/
.jumbotron {
  margin-bottom: 0;

}
.jumbotron h1 {
  font-family: 'Fjalla One', sans-serif;
  color: #0194c9;
  font-size: 6rem;
  text-align: center;

  line-height: 1.2em;
  padding: 40px;
}
.jumbotron p{
  color: #F7F7FF;
text-align: center;
font-size: 1.5rem;
font-weight: 100;
line-height: 1em;
padding:1rem 0 2rem 0
}
/* === Search === */
.tt-hint{
  width:100%;
  height:100%;
  border: 0;
}
.tt-suggestions {
  color:black;
      border-radius: .25rem 0 0 .25rem;
  background-color: white;
}
.tt-suggestion p{
  color:black;
  padding:5px;
  font-size: 1.2rem;
  text-align: left
}
/* === Buttons === */
.form-control{
      border-radius: .25rem 0 0 .25rem;
}
.searchBtn{
      border-radius: .0rem .25rem .25rem 0;
      background-color: #0CCE6B;
border-color: #0CCE6B;
}
.searchBtn:hover, .viewmore:hover, .btn-primary:hover, .load-more-btn{
  background-color: #12dd75;
border-color: #12dd75;
}
.btn-primary {
  background-color: #0CCE6B;
  border-color: #0CCE6B;
}

.viewmoreTD {
  position: absolute!important;
      left: 50%;
  transform: translateX(-50%);
      background: none!important;
}
.viewmoreTD::before, .viewmoreTD::after{
cursor:none;
content: ""!important;
}
.viewmore {
  background-color: #0CCE6B;
border-color: #0CCE6B;
position: relative;
top: 56px;
    z-index: 999;
    color: #fff;
}
.to-the-top {
  display: none;
  background-color: #0CCE6B;
  border-color: #0CCE6B;

    color: white;
    display: none;
    z-index: 999;
        font-size: .8rem;
    position: fixed;
    right: 20px;
    bottom: 20px;
    box-shadow: #00000073 0px 1px 2px;
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.to-the-top .fas {
  display: block;
}
.to-the-top .fa-angle-up:before {
        content: "\f106";

        font-style: normal;
        font-weight: 600;
        font-size: 1.0rem;
        line-height: 1;
        speak: none;
        -webkit-font-smoothing: antialiased;

        text-align: center;
        display: block;
        vertical-align: middle;

        cursor: pointer;

}
.to-the-top:hover {
    background-color: #12dd75;
    border-color: #12dd75;
    color:white;
    text-decoration: none;
}
/* === Content === */
.sub-info{
  background:#114f84;
  display:none;
padding:5rem 0;
}
.date-info {
    display:block;
    background:#114f84;

  padding:10rem 0;
}
.table-information h1:nth-child(1) {
    color: #6d6d6d;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1em;
    padding: 2rem 0 0rem 0;
}
/* === Fake Table === */
.child > table {
  background-color:white!important;
}
.dataTables_scrollBody{
  height:800px;
}
.datatables_width_fix{

}
.details-control::before {
  position:absolute!important;
  z-index: 999;

  background:none!important;
  left: 50%!important;
    transform: translateX(-50%)!important;
  /* width: 1px!important; */
  content: 'view more';

}
/* table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  background-color: #0CCE6B;
border-color: #0CCE6B;
position:absolute;
left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: block;
    cursor: pointer;
    width:100px;
    color: #fff;




    text-align: center;

    content: 'view more';

font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;


} */
.table thead  tr[role=row] th:nth-child(1) {
  /* display: none!important; */
}
div.DTS div.dataTables_scrollBody table {
  background-color: #eceff1;

}
div.DTS tbody th, div.DTS tbody td {
  /* white-space: pre-wrap; */
}
table#depart-table{
  border-collapse:separate;
border-spacing: 0em 1.5em;
}
.table-bordered {
  border:none;
}
.table-bordered td, .table-bordered th {
    border: none;
}
.table-bordered thead td, .table-bordered thead th {
      border: none;
}
.table thead tr {
  height: 0rem;
  color:#00A5CF;

}
.table thead  tr[role=row] th:nth-of-type(1){
pointer-events: none;
text-align:center;
color: #F25F5C;

}

.table thead  tr[role=row] th:nth-of-type(1)::before, .table thead  tr[role=row] th:nth-of-type(1)::after{
content:none;
}
.table thead  tr[role=row] th:nth-of-type(0)::before, .table thead  tr[role=row] th:nth-of-type(0)::after{
content:none;
display: none;
}

.table tr{
height: 6rem;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
border-radius: 2px;
}
.table td {

  background-color: white;

  position: relative;


  vertical-align: middle;
  /* border-top: 1px solid #dee2e6; */
}

.f-table{

    margin-top: 0px;

  padding: 20px 0 0 0;

}
.f-table a{
  color:#00A5CF;
}
.f-table-row-first, .table th{
background-color: rgba(255,255,255,0.3);
  border-bottom: 2px solid #d1cfcf7d;
      padding: 20px 0px;
}

.f-table-row-first::after{
  overflow-x: auto;
  height: 500px;
}
.row::before{
  display: table;
content: " ";
}

.f-table-row-first a::after {
     vertical-align: middle;
}

.f-table-row-first a.asc::after {
   content: "";
  background-image:url(../img/glyphicons-chevron-up.png);
 background-size: 50% 50%;
background-position: center;
     background-repeat: no-repeat;
 display: inline-block;
      width: 22px;
      height:15px
}

.f-table-row-first a.desc::after {
   content: "";
    background-image:url(../img/glyphicons-chevron-bottom.png);
     background-size: 50% 50%;
     background-position: center;
     background-repeat: no-repeat;
     width: 22px;
     height:15px;
      display: inline-block;
}

#f-table-container {
  overflow:hidden;
height: 800px;
    /* border: 1px solid rgba(255,255,255,0.3); */
}
.load-more-btn{
  background-color: #0CCE6B;
      border-color: #0CCE6B;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0px;
          color: white;
          width: 100%;
border-radius: .25rem .25rem 0 0;
z-index: 999;
}
/* === Slideout === */
.slide-out {
background-color: white;
box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
  z-index: 999;
  padding:19.5px;
  width: 200px;
  position: absolute;
  top: 250px;
  left: 0px;
  margin: 0;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  -ms-transition: .5s ease-out;
  transition: .5s ease-out;
}

.slide-in {
  margin: 0 0 0 -200px;
}
.menu-btn:before{
content: "\f106";

}
.menu-btn {
  position: absolute;
width: 224px;
text-align: center;
border-radius: 6px 6px 0 0;
top: 96px;
left: 103px;
transform: rotateZ(90deg);
background-color: #0CCE6B;
color: #fff;
cursor: pointer;


}

.menu-btn:hover {
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.menu-btn-left:before {
    content: "\f107";

}
.menu-btn p{
    font-family: 'Open Sans', sans-serif;
  text-align: center;
display: inline-block;
position: relative;
line-height: 2;
}
/* === Card === */
.politican-card {
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.politican-card:after {
  /* content: '';
  display: block;
  width: 190px;
  height: 300px;
  background: cadetblue;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both; */
}

.badgescard {
  padding: 10px 0px;
          border-radius: 2px;
        background-color: #ECECEC;
        width: 98%;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: -1;
        left: 10px;
        bottom: 0;
        animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}
.badgescard span {
  font-size: 1.0em;
  padding: 0px 1rem;
  opacity: 0.8;
}

.politician-f-info img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.politican-card .politician-profile-info {
  padding: 0px 20px;
  /* display: flex; */
   /* flex-wrap: wrap; */
}
.politican-card .politician-profile-info h1 {
  font-size: 1.4em;
  color: #00A5CF;
text-transform: uppercase;
font-weight: 600;
}
.politican-card .politician-profile-info h2 {
  font-size: 1.2em;


}
.politican-card .politician-profile-info h3 {
  font-size: 1.2em;
  color: #009688;
  font-style: italic;
}
.politican-card .politician-profile-info p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  line-height: 1.2;
  font-style: initial;
}


.content {
    position: relative;
    /* animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards; */
}


.cards {

      padding: 20px 0 0px 0;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    position: relative;

  margin: 20px 0 40px 0;
}
.commentcardcont{
  display: none;
}

/* .commentcard {
padding: 10px 0px;
        border-radius: 2px;
      background-color: #ECECEC;
    display: inline-block;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: -1;
      left: 10px;
      bottom: 0;
          width: 100%;

} */
.commentcard {
    padding: 10px 0px;
    border-radius: 2px;
    background-color: #ECECEC;
    display: inline-block;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);

    z-index: 999;


    left: 0!important;
    text-align: left;
    width: 100%;

    height: 5rem;
    transform: translateX(0%)!important;
}
.collapses{
  position: absolute;
  bottom:0;
  z-index: -1;
}

.collapses.show{
  height: 44px;

    width: 99%;
    display: block;


        animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}
.commentcard span {
  font-size: 1.0em;
padding: 0px 1rem;
opacity: 0.8;
}
.number-tables{
  padding:1rem 0;
}
#sort{
  color: #F25F5C;
  font-size:1.0rem;
  padding:0 0 0 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform:uppercase;
}

.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.firstinfo img, tr[role=row] td:nth-of-type(1) img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  /* position: relative;

left: 50%;
transform: translate(-50%); */

}
.profileinfo {
  padding: 0px 10px;
  display: flex;
align-items: center;

}
.profileinfo h1 {
    padding: 10px 0px;
  font-size: 1.8em;
  color: #0CCE6B;
    line-height: 1.2;
}
.profileinfo h3 {
  font-size: 1.2em;
    line-height: 1.2;
  color: #444444;
  font-style: italic;
}
.profileinfo h4, tr[role=row] td:nth-of-type(6), tr[role=row] td:nth-of-type(4) {
    padding: 10px 0px;
  font-size:1.0rem;
    line-height: 1.2;
  color:#444444;
}
.profileinfo h5, tr[role=row] td:nth-of-type(5){
    padding: 10px 0px;
  font-size:1.0rem;
    line-height: 1.2;
  color:#444444;
}
.profileinfo p.bio, tr[role=row] td:nth-of-type(4) {
  padding: 10px 0px;
  color: #444444;
  line-height: 1.2;
  text-transform:uppercase;
  font-style: initial;
}

.profileinfo p {
  margin:0;
  padding: 10px 0px;
color: #444444;
line-height: 1.2;
font-style: initial;
}
.profileinfo p.name, tr[role=row] td:nth-of-type(2) {
  color:#00A5CF;
  text-transform: uppercase;
      font-weight: 600;
}
.profileinfo p.department, tr[role=row] td:nth-of-type(3){
  color:#444444;
  text-transform: uppercase;
}
.profileinfo p.resign, tr[role=row] td:nth-of-type(10) {
  color: #F25F5C;
  font-size:1.0rem
}

/*=== DatePicker === */
p.date-pick-p{
  padding: 1rem 0 1rem 0;
}
.calc{
  font-size:1.0;
  color:white;
  text-align: center;
}
#mooch-datepicker {
  /* margin-top: 20px; */
}
@media screen and (min-width: 400px) {
  #mooch-datepicker {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#mooch-datepicker .form-item {
  position: relative;
  margin: 12px 0 60px;
}
@media screen and (min-width: 400px) {
  #mooch-datepicker .form-item {
    margin: 12px 0 0 0;
  }
}
#mooch-datepicker label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}
#mooch-datepicker input {
  display: block;
  margin-bottom: 8px;
  padding-bottom: 6px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  outline: none;
  transition: border-color .2s ease-out;
}
#mooch-datepicker input:first-child, #mooch-datepicker input:last-child {
  border-radius: 0;
}
#mooch-datepicker input::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  transition: color .2s .2s ease-out;
}
#mooch-datepicker input:-moz-placeholder {
  color: white;
  font-size: 14px;
  line-height: 30px;
  transition: color .2s .2s ease-out;
}
#mooch-datepicker input::-moz-placeholder {
  color: white;
  font-size: 14px;
  line-height: 30px;
  transition: color .2s .2s ease-out;
}
#mooch-datepicker input:-ms-input-placeholder {
  color: white;
  font-size: 14px;
  line-height: 30px;
  transition: color .2s .2s ease-out;
}
#mooch-datepicker input:focus {
  border-bottom-color: #125259;
}
#mooch-datepicker input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: color .2s ease-out;
}
#mooch-datepicker input:focus:-moz-placeholder {
  color: transparent;
  transition: color .2s ease-out;
}
#mooch-datepicker input:focus::-moz-placeholder {
  color: transparent;
  transition: color .2s ease-out;
}
#mooch-datepicker input:focus:-ms-input-placeholder {
  color: transparent;
  transition: color .2s ease-out;
}
#mooch-datepicker .date-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  top: calc(100% + 6px);
  font-size: 12px;
  color: white;
}
@media screen and (min-width: 400px) {
  #mooch-datepicker .date-text {
    top: 100%;
  }
}

.datepicker.dropdown-menu {
  padding: 0;
  background-clip: border-box;
  border: none;
  border-radius: 0;
  -webkit-animation: popup .2s ease-out forwards;
          animation: popup .2s ease-out forwards;
}
.datepicker.dropdown-menu table {
  background-color: #0765ca;
}
.datepicker.dropdown-menu table thead {
  background-color: #0765ca;
}
.datepicker.dropdown-menu table thead tr {
  border-top: 0;
}
.datepicker.dropdown-menu table tbody {
  background-color: white;
}
.datepicker.dropdown-menu table tr {
  border-top: 1px solid #ededed;
}
.datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
  width: auto;
  height: 24px;
  padding: 8px;
  font-size: 16px;
  border-radius: 0;
  transition: background-color .6s ease-out;
}
@media screen and (min-width: 400px) {
  .datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
    padding: 12px;
  }
}
.datepicker.dropdown-menu table tr td:hover, .datepicker.dropdown-menu table tr td.active:hover, .datepicker.dropdown-menu table tr td:active:hover, .datepicker.dropdown-menu table tr th:hover, .datepicker.dropdown-menu table tr th.active:hover, .datepicker.dropdown-menu table tr th:active:hover {
  border-color: #ededed;
  border-radius: 0;
  transition: background-color .2s ease-out;
}
.datepicker.dropdown-menu table tr td.focused, .datepicker.dropdown-menu table tr td.selected, .datepicker.dropdown-menu table tr th.focused, .datepicker.dropdown-menu table tr th.selected {
  background-color: #24A0AD;
  border-color: #ededed;
  border-radius: 0;
}
.datepicker.dropdown-menu table tr td.active, .datepicker.dropdown-menu table tr td.active:focus, .datepicker.dropdown-menu table tr td.active.active:hover, .datepicker.dropdown-menu table tr td:active:focus, .datepicker.dropdown-menu table tr td.highlighted, .datepicker.dropdown-menu table tr th.active, .datepicker.dropdown-menu table tr th.active:focus, .datepicker.dropdown-menu table tr th.active.active:hover, .datepicker.dropdown-menu table tr th:active:focus, .datepicker.dropdown-menu table tr th.highlighted {
  background-color: #1b7983;
  border-color: #ededed;
}
.datepicker.dropdown-menu table tr th.datepicker-switch {
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #ffffff;
  background-color: inherit;
  border-radius: 0;
}
.datepicker.dropdown-menu table tr th.prev,
.datepicker.dropdown-menu table tr th.next {
  color: #ffffff;
  background-color: #0651a1;
  border-radius: 0;
}
.datepicker.dropdown-menu table tr th.dow {
  padding: 2px 12px;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
  background-color: #007bff;
  border-top: 1px solid #007bff;
  border-radius: 0;
}
.datepicker.dropdown-menu table tr td.day {
  width: 24px;
  border-right: 1px solid #ededed;
}
.datepicker.dropdown-menu table tr td.day:last-child {
  border-right-width: 0;
}
.datepicker.dropdown-menu table tr td.range {
  background-color: #eeeeee;
}
.datepicker.dropdown-menu .new,
.datepicker.dropdown-menu .old,
.datepicker.dropdown-menu .disabled,
.datepicker.dropdown-menu .disabled:hover {
  color: #ccc;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.mooch-calendar {
  position: absolute;
  top: 26px;
  right: 0;
  font-size: 24px;
  z-index: -99;
}

/* === Footer === */
.page-footer{
  color:white;
background-color: #052440;
}

@-webkit-keyframes popup {
  from {
    opacity: 0;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes popup {
  from {
    opacity: 0;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* for custom scrollbar for webkit browser*/

/* ::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} */
/* === Animations === */
@keyframes animatop {
  0% {
    opacity: 0;
    top: -500px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -41px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

/* === Media Queries === */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .profileinfo h5 {
    text-align: center;
  }
  .profileinfo > :before{

    text-align: center;
        font-size: .8rem;
        line-height: 2;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #969696;
        display: block;
      content: attr(data-title);
    }
    .mooch:before, .resign:before{

      text-align: center;
          font-size: .8rem;
          line-height: 2;
          font-weight: bold;
          margin-bottom: 10px;
          text-transform: uppercase;
          color: #969696;
          display: block;
        content: attr(data-title);
      }
.profileinfo p {
  text-align: center;
}
.collapses{
  bottom:auto;
}
  .slide-out{
    display:none;
  }
  .jumbotron h1 {
    font-size: 2.5rem;
      padding:  40px 0 0 0;
  }
  .jumbotron p {
    font-size:1.2rem;
  }
  .profileinfo {
    padding: 0px 5px;
    justify-content: center;}
.page-footer{

font-size:90%;
}
/* === search results === */
.mooches-title{
  font-size:80%;
}
.sub-info{
  padding:2rem 0;
}
.politican-card, .badgescard, p{
      font-size: 70%;
}

  .politican-card {
  padding: 5px;
}
.politican-card .politician-profile-info{
  padding: 0px 5px;
}
  .politician-f-info img{
    width: 25px;
height: 25px;
  }
.politician-profile-info .col-sm-4 {
      padding-left: 0;
}
.politican-card .politician-profile-info h1, .politican-card .politician-profile-info h2 {
    font-size: 70%;
}
.politican-card .politician-profile-info h3{
    font-size: 70%;
}
.politician-profile-info .col-sm-4 p{
    font-size:70%;
}
.cards {

    margin: 20px 0 80px 0;
  }
  .commentcard {
    padding: 6px 0px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);

    left: 0;

    width: 100%;
   }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-out{
    display:block;
  }
  .slide-in {
    margin: 0px 0 0 -205px;
}
  .jumbotron h1 {

    font-size: 3rem;
        padding: 20px;
  }
  .jumbotron p {

    padding: 1rem 0 2rem 0;
}
.col-12 {
    padding-right: 0;
    padding-left: 0;
  }
.sort {
  padding:0;
}
.mooches-title{
  font-size:80%
}
.politican-card, .badgescard, p{
      font-size: 70%;
}

  .politican-card {
    padding: 10px;
}
  .politician-f-info img{
    width: 50px;
height: 50px;
  }

  .f-table-row-first {

    padding: 10px 0px;
        font-size: 80%;
 }
 #sort {

      font-size: 70%;
    padding: 0 0 0 20px;
}
.firstinfo img {
  width: 35px;
      height: 35px;
}
.cards{
      font-size: 80%;
      margin: 20px 0 20px 0;
}
.profileinfo h4, .profileinfo h5, .profileinfo p.resign {
    font-size: 80%;
}
.viewmore{
  font-size:80%;
}

p{
    font-size:70%;
}
.commentcard {
      padding: 4px 0px;
  }
.commentcard span {
  font-size:80%;
}

.badgescard {
  width: 96%;
}
.badgescard span {
    font-size: .6rem;

}
}
@media (min-width: 768px) {
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .politican-card, .badgescard{
        font-size: 80%;
  }
  .politician-f-info img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
  .f-table-row-first {

    padding: 10px 0px;
        font-size: 80%;
 }
 #sort {

      font-size: 80%;
    padding: 0 0 0 20px;
}
.cards{
      font-size: 80%;
      margin: 30px 0 30px 0;
}
.profileinfo h4, .profileinfo h5, .profileinfo p.resign {
    font-size: 80%;
}
.viewmore{
  font-size:80%;
}
/* .commentcard {
      padding: 16px 0px;
} */
.commentcard span {
  font-size:80%;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .f-table-row-first {

    padding: 10px 0px;
        font-size: 90%;
 }
 #sort {

      font-size: 90%;
    padding: 0 0 0 20px;
}
.cards{
      font-size: 90%;
      margin: 20px 0 30px 0;
}
.profileinfo h4, .profileinfo h5, .profileinfo p.resign {
    font-size: 90%;
}
.viewmore{
  font-size:90%;
}
.commentcard span {
  font-size:90%;
}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }
