<!doctype html>
<html lang="en">

  <head>

    {% block head %}

      {% include "head.html" %}
      <title>{% block title %}{% endblock %} 45 Chaos</title>

    {% endblock %}

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    {% block navbar %}
      {% include "navbar.html" %}
    {% endblock %}
    </nav>

    {% block scripts %}
      {% include "base_scripts.html" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="page-footer font-small blue pt-4 mt-4">
    {% block footer %}
      {% include "footer.html" %}
    {% endblock %}
    </footer>

  </body>

</html>
