<footer class="page-footer font-small blue pt-4 mt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="offset-md-1 col-md-4 mt-md-0 mt-3">
                <h5 class="text-uppercase">Information</h5>
                <p>Data collected and organized by Adrienne Cobb</p>
                <p>Site Built by Adrian & Avi</p>
            </div>
            <!--- Content --->
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Data Curator Info!</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:trumprussia0@gmail.com">Email Me!</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ImagineWorldas1">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/user/rusticgorilla">Reddit</a>
                    </li>
                    <li>
                        <a href="https://trumprussiablog.wordpress.com/contact/">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Developer Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:adrianvfx@gmail.com">Email Me!</a>
                    </li>
                </ul>
            </div>
            <!--- Links --->
        </div>
    </div>
    <!--- Footer Links Container --->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="{{ url_for('main.index') }}">45 Chaos</a>
    </div>
    <!--- /Copyright --->
</footer>
