<!--- Required meta tags --->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="A chronicle of the chaos of Donald Trump’s presidency, including lists of all the departures, failed nominations, and empty positions. Including a Mooch Calculator!" />
<meta name="keywords" content="white house resignations,EPA resignation, EPA firing, State Department empty, White house firing, White house resignation, Advisory Council disbanded, advisory council resignation, Trump nominees, mooch calculator, moochs calculator, total mooch, mooch, 45chaos, ">
<meta name="author" content="@ImagineWorldas1">
<!--- Facebook --->
<meta property="og:locale" content="en_US" />
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">
<meta property="og:url" content="{{ url_for('main.index') }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="The Chaos of Donald Trumps Presidency" />
<meta property="og:description" content="A chronicle of the chaos of Donald Trump’s presidency, including lists of all the departures, failed nominations, and empty positions. Including a Mooch Calculator!" />
<meta property="og:image" content="{{ url_for('static', filename='img/og-social.jpg', _external=True) }}" />
<!--- Twitter --->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="A chronicle of the chaos of Donald Trump’s presidency, including lists of all the departures, failed nominations, and empty positions. Including a Mooch Calculator!" />
<meta name="twitter:title" content="The Chaos of Donald Trumps Presidency" />
<meta name="twitter:site" content="{{ url_for('main.index') }}" />
<meta name="twitter:image" content="{{ url_for('static', filename='img/og-social.jpg', _external=True) }}" />
<meta name="twitter:creator" content="@ImagineWorldas1" />
<!--- Fav --->
<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="{{ url_for('static', filename='favico/apple-touch-icon.png', _external=True) }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favico/favicon-16x16.png', _external=True) }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favico/favicon-32x32.png', _external=True) }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favico/android-chrome-96x96.png', _external=True) }}">
<link rel="manifest" href="{{ url_for('static', filename='favico/site.webmanifest', _external=True) }}">
<link rel="mask-icon" href="{{ url_for('static', filename='favico/safari-pinned-tab.svg' color='#0a3356', _external=True) }}">
<meta name="msapplication-TileColor" content="#0a3356">
<meta name="theme-color" content="#0a3356">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='favico/mstile-150x150.png', _external=True) }}">

<!--- Fonts --->
<link href="https://fonts.googleapis.com/css?family=ATitillium+Web:200,400,900|Fjalla+One|Open+Sans:100,200,300,400" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--- Font Awesome --->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!--- DataTables --->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/b-1.5.2/r-2.2.2/sc-1.5.0/datatables.min.css" />

<!--- Main Style --->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css', _external=True) }}" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23840368-23"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-23840368-23');
</script>
