{% extends "base.html" %}
{% block content %}
    <main role="main">
        <div class="jumbotron jumbotron-fluid image">
            <div class="container">
                <h1>Departures and <br>Nominations </h1>
                <p> Search for Trump administration departures </p>
                <form action="{{ url_for('main.searchprocess') }}" role="form" class="form-inline justify-content-center" method="post" enctype="application/json">
                    <div class="col-md-5 col-sm-8">
                        <div class="input-group">
                            <input type="text" class="searchs form-control" id="search_box" name="search_box" placeholder="Type in a Name and Go!">
                            <span class="input-group-btn">
                              <button class="btn searchBtn btn-secondary" type="submit">Go!</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--- /Jumbo --->
    </main>
    <!--- /Main --->
    <section class="sub-info">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-12">
                    <div id="search_results">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--- Search Results--->
    <section class="table-information">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h1>Table of every departure</h1>
                    <div class="f-table">
                        <!--- Header --->
                        <!-- <div class="number-tables"></div> -->
                        <table cellpadding="0" cellspacing="0" border="0" class="f-table-row table table-striped table-bordered" id="depart-table" width="100%">
                            <thead>
                                <tr>
                                    <th>SORT BY</th>
                                    <th>Name</th>
                                    <th>Affliation</th>
                                    <th>Position</th>
                                    <th>Hired</th>
                                    <th>Left</th>
                                    <th>Total Days</th>
                                    <th>Under Trump</th>
                                    <th>Mooches</th>
                                    <th>Fired/Resign</th>
                                    <th>Notes</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!---/Column --->
                </div>
            </div>
            <!--- /Table Container --->
    </section>
    <script>
        $(document).ready(function() {
          // --- AutoComplete --- //
           var fullList = [];
           function loadFullList() {
                $.getJSON('/autocomplete', function(data, status, xhr) {
                    for (var i = 0; i < data.length; i++) {
                        fullList.push(data[i][0]);
                    }
                });
            };
            loadFullList();
            $('#search_box').autocomplete({
                source: fullList,
            });
            // --- Search --- //
            $('form[role="form"]').submit(function(ev) {
                ev.preventDefault();
                var search_term = $('#search_box').val()
                $.ajax({
                    type: "POST",
                    url: "/search",
                    data: {
                        search_term: search_term,
                    },
                    success: function(response) {
                        var result = jQuery.parseJSON(response);
                        $('#search_results').html('');
                        var startDate = parseDate(result.DateHired)
                        var endDate = parseDate(result.DateLeft)
                        var numberofDays = calcDaysBetween(startDate, endDate)
                        function parseDate(s){
                            var parts = s.split('/')
                            return new Date(parts[2], parts[0]-1, parts[1])
                        }
                        function calcDaysBetween(startDate, endDate){
                            return (endDate-startDate)/(1000*60*60*24)
                        }
                        if ($(".sub-info:first").is(":hidden")) {
                            $(".sub-info").slideDown("slow", function() {
                                $('#search_results').append('<div class="content">')
                                $('.content').append('<div class="politican-card">')
                                $('.politican-card').append('<div class="politician-f-info">')
                                $('.politician-f-info').append('<img src="' + "{{ url_for('static', filename='img', _external=True) }}/" + result.Image + '.JPG" width="80" >')
                                $('.politician-f-info').append('<div class="politician-profile-info col-5 col-sm-4">')
                                $('.politician-profile-info.col-5.col-sm-4').append('<h1>' + result.FirstName + '</h1>')
                                $('.politician-profile-info.col-5.col-sm-4').append('<h2>' + result.Affiliation + '</h2>')
                                $('.politician-profile-info.col-5.col-sm-4').append('<h2>' + result.Position + '</h2>')
                                $('.politician-profile-info.col-5.col-sm-4').after('</div>' + '<div class="politician-profile-info col-3 col-sm-2 hired-left">')
                                $('.politician-profile-info.col-3.col-sm-2.hired-left').append('<h3>' + result.DateHired + '</h3>' + '<h3>' + result.DateLeft + '</h3>')
                                $('.politician-profile-info.col-3.col-sm-2.hired-left').after('</div>' + '<div class="politician-profile-info col-3 col-sm-4">')
                                $('.politician-profile-info.col-3.col-sm-4').append('<p class="days-trump">' + 'Under Trump: ' + result.TrumpTime + '</p>' + '<p>' + 'Total Time ' + numberofDays + '</p>' + '</div>' + '</div>' + '</div>')
                                //$('.politican-card').append('<div class="badgescard">' + '<span class="bio">' + result.Notes + '</span>' + '</div>')
                                $('.politican-card').after('<h3 class="mooches-title">' + 'NUMBER OF MOOCHES ' + result.MoochesTime + '!' + '</h3>')
                            })
                        } else {
                        }
                    },
                    error: function(response) {
                    }
                  });
              });
            // --- Data Table --- //
            var table = $('#depart-table').DataTable({
                serverSide: true,
                processing: true,
                ajax: {
                    url: "{{ url_for('main.data') }}", // json datasource
                    type: "post", // method  , by default get
                    error: function() { // error handling
                        $(".departures-grid-error").html("");
                        $("#departures-grid").append('<tbody class="departures-grid-error"><tr><th colspan="3">No data found in the server</th></tr></tbody>');
                        $("#departures-grid_processing").css("display", "none");
                    }
                },
                scrollY: 600,
                deferRender: true,
                scroller: {
                    loadingIndicator: true
                },
                columns: [{
                    data: "Image"
                }, {
                    data: "Name"
                }, {
                    data: "Affiliation"
                }, {
                    data: "Position"
                }, {
                    data: "Hired"
                }, {
                    data: "Left"
                }, {
                    data: "Total Days"
                }, {
                    data: "Under Trump"
                }, {
                    data: "Mooches"
                }, {
                    data: "Fired/Resign"
                }, {
                    data: "Notes"
                }],
                "columnDefs": [{
                    "targets": 10,
                    "visible": false
                }, {
                    type: 'natural-nohtml',
                    targets: 5
                }, {
                    "targets": 11,
                    "render": function(data, type, full, meta) {
                        return '<button class="btn viewmore">view notes</button>'
                    }
                }, {
                    "targets": 0,
                    "render": function(data) {
                        return '<img src="' + "{{ url_for('static', filename='img', _external=True) }}/" + data + '.JPG" width="80" >'
                    }
                }]
            });
            // --- Add event listener for opening and closing details --- //
            $('#depart-table tbody').on('click', '.viewmore', function() {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    // $('td[colspan=11]').removeClass('commentcard');
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    var notes = Object.values(row.data())[Object.values(row.data()).length - 1]
                    row.child(notes).show();
                    tr.addClass('shown');
                    tr.addClass('child');
                    $('td[colspan=11]').addClass('child');
                }
            });
        });
    </script>
{% endblock %}
