<!doctype html>
<html lang="en">

<head>

    <!--- Required meta tags --->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A chronicle of the chaos of Donald Trump’s presidency, including lists of all the departures, failed nominations, and empty positions. Including a Mooch Calculator!" />
    <meta name="keywords" content="white house resignations,EPA resignation, EPA firing, State Department empty, White house firing, White house resignation, Advisory Council disbanded, advisory council resignation, Trump nominees, mooch calculator, moochs calculator, total mooch, mooch, 45chaos, ">
    <meta name="author" content="@ImagineWorldas1">
    <!--- Facebook --->
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ url_for('main.index') }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="The Chaos of Donald Trumps Presidency" />
    <meta property="og:description" content="A chronicle of the chaos of Donald Trump’s presidency, including lists of all the departures, failed nominations, and empty positions. Including a Mooch Calculator!" />
    <meta property="og:image" content="{{ url_for('static', filename='img/social.png', _external=True) }}" />
    <!--- Twitter --->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="A chronicle of the chaos of Donald Trump’s presidency, including lists of all the departures, failed nominations, and empty positions. Including a Mooch Calculator!" />
    <meta name="twitter:title" content="The Chaos of Donald Trumps Presidency" />
    <meta name="twitter:site" content="{{ url_for('main.index') }}" />
    <meta name="twitter:image" content="{{ url_for('static', filename='img/social.png', _external=True) }}" />
    <meta name="twitter:creator" content="@ImagineWorldas1" />
    <!--- Fav --->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

    <!--- Fonts --->
    <link href="https://fonts.googleapis.com/css?family=ATitillium+Web:200,400,900|Fjalla+One|Open+Sans:100,200,300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--- Font Awesome --->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!--- Main Style --->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-min.css', _external=True) }}"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23840368-23"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-23840368-23');
    </script>

    <title>45 Chaos</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/logo.png', _external=True) }}" width="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.mooches') }}">Mooches<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">

        <div class="jumbotron jumbotron-fluid shade">
            <div class="container">
                <h1>How Many <br>Mooches</h1>
                <p> Calculate a Time in Mooches! </p>

                <form action="" role="datefind" class="form-inline justify-content-center" method="post">
                    <div class="input-daterange input-group" id="mooch-datepicker">
                        <div class="form-item">
                            <span class="mooch-calendar"></span>
                            <input class="input-sm form-control" type="text" id="date-info" name="start" placeholder="Select a Date" data-date-format="DD, MM d" /><span class="date-text date-mooch"></span>

                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </div>

                </form>

            </div>
        </div>
        <!--- Jumbo --->

    </main>
    <!--- Main --->

    <section class="date-info">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div id="date-results">
                        <h2 class="calc"> Waiting for Calculation! </h2>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--- Calculator Information--->
    <!--- Footer --->
    <footer class="page-footer font-small blue pt-4">

        <div class="container-fluid text-center text-md-left">

            <div class="row">

                <div class="offset-md-1 col-md-4 mt-md-0 mt-3">

                    <h5 class="text-uppercase">Information</h5>
                    <p>Data collected and organized by Adrienne Cobb</p>
                    <p>Site Built by Adrian & Avi</p>

                </div>
                <!--- Content --->
                <hr class="clearfix w-100 d-md-none pb-3">

                <div class="col-md-3 mb-md-0 mb-3">

                    <h5 class="text-uppercase">Data Curator Info!</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:trumprussia0@gmail.com">Email Me!</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ImagineWorldas1">Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/user/rusticgorilla">Reddit</a>
                        </li>
                        <li>
                            <a href="https://trumprussiablog.wordpress.com/contact/">Blog</a>
                        </li>
                    </ul>

                </div>

                <div class="col-md-3 mb-md-0 mb-3">

                    <h5 class="text-uppercase">Developer Contact</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:adrianvfx@gmail.com">Email Me!</a>

                    </ul>

                </div>
                <!--- Links --->

            </div>

        </div>
        <!--- Footer Links Container --->

        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="{{ url_for('main.index') }}">45 Chaos</a>
        </div>
        <!--- Copyright --->

    </footer>
    <!--- Footer --->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.js"></script>

    <script src="{{ url_for('static', filename='js/scripts-min.js', _external=True) }}"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b37f2974aa8ebd0"></script>
</body>

</html>
