{% extends "base.html" %}
{% block content %}
    <main role="main">

        <div class="jumbotron jumbotron-fluid shade">
            <div class="container">
                <h1>How Many <br>Mooches</h1>
                <p> Calculate a Time in Mooches! </p>

                <form action="" role="datefind" class="form-inline justify-content-center" method="post">
                    <div class="input-daterange input-group" id="mooch-datepicker">
                        <div class="form-item">
                            <span class="mooch-calendar"></span>
                            <input class="input-sm form-control" type="text" id="date-info" name="start" placeholder="Select a Date" data-date-format="DD, MM d" /><span class="date-text date-mooch"></span>

                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </div>

                </form>

            </div>
        </div>
        <!--- Jumbo --->

    </main>
    <!--- Main --->

    <section class="date-info">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div id="date-results">
                        <h2 class="calc"> Waiting for Calculation! </h2>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--- Calculator Information--->
    {% block scripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.js"></script>
    <script src="{{ url_for('static', filename='js/scripts-min.js', _external=True) }}"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b37f2974aa8ebd0"></script>
    {% endblock %}
{% endblock %}
